<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Save Book</title>
</head>
<body>
	<div class="container">
		<h3>Book Directory</h3>
		<hr>
		
		<p class ="h4 mb-4">Save Book</p>
		
		<form action="#" th:action="@{/books/save}"
						 th:object="${book}" method="POST">
						 
			 <input type="hidden" th:field="*{id}" />
						 
			 <input type="text" th:field="*{isbn}"
			 	class="form-control mb-4 col-4" placeholder="ISBN">
						 	
			 <input type="text" th:field="*{title}"
			 	class="form-control mb-4 col-4" placeholder="Title">
						 	
			 <input type="text" th:field="*{author}"
			 	class="form-control mb-4 col-4" placeholder="Author ID">
			 	

			 <input type="text" th:field="*{publishier}"
			 	class="form-control mb-4 col-4" placeholder="Publishier ID"> 
						 
			 <button type="submit" class="btn btn-info col-2">Save</button>

			</form>
	
		<hr>
		<a th:href="@{/books/list}">Back to Books List</a>
	</div>
</body>

</html>"