<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Save Author</title>
</head>
<body>
	<div class="container">
		<h3>Author Directory</h3>
		<hr>
		
		<p class ="h4 mb-4">Save Book</p>
		
		<form action="#" th:action="@{/authors/save}"
						 th:object="${author}" method="POST">
						 
			 <input type="hidden" th:field="*{id}" />
						 
			 <input type="text" th:field="*{firstName}"
			 	class="form-control mb-4 col-4" placeholder="First Name">
						 	
			 <input type="text" th:field="*{lastName}"
			 	class="form-control mb-4 col-4" placeholder="Last Name">
						 
			 	
			 	
			 <button type="submit" class="btn btn-info col-2">Save</button>

			</form>
	
		<hr>
		<a th:href="@{/authors/list}">Back to Authors List</a>
	</div>
</body>

</html>"